@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <h2>
        Yaustin's Music and Online Shop
    </h2>


    <img src="https://raw.githubusercontent.com/yvetter438/YaustinMusicShopOnline/master/98F3B719-4CD2-49DF-AB68-6693A6B48884.JPG" alt="Sample Photo" width="1000" height="800" />

    


</div>
